[submodule "docker-odl"]
	path = opendaylight
	url = git@github.com:rubenqc/docker-odl.git
[submodule "docker-mininet"]
	path = mininet
	url = git@github.com:rubenqc/docker-mininet.git
[submodule "airdaneel"]
	path = airdaneel
	url = git@github.com:rubenqc/airdaneel-sdn.git
